<% if(user && user.id){ %>
	<form action="/logout" method="POST"> 
    	<label>UserID: <%= user.id %> </label>
    	<button>Logout</button>
	</form>   
<% } %>
	<a href="/register"><button>Register here</button></a>
<% if(!user){ %>
	<a href="/login"><button>Login here</button></a>
<% } %>