<!-- views/partials/header.ejs -->
	<% if(username){ %>

	  	<form action="/logout" method="post">
    		
    		<label><%= username %></label>
    		<input type="submit" value="Logout">
		</form>

	 <% } else { %>

 		<form action="/login" method="post">
    		<label for="username"> Enter name: </label>
    		<input id="username" type="text" name="username">
    		<input type="submit" value="Submit">
	 <% } %>

		
