<!-- views/partials/header.ejs -->


	  	<form action="/login" method="post">
    		<label for="username">Enter name: </label>
    		<input id="username" type="text" name="username">
    		<input type="submit" value="Submit">
		</form>

		<label><%= username %></label>
	

	  

