<!-- views/partials/header.ejs -->
	<% if(user){ %>
	 	<div>logout <%= user.username %></div>
	 		<form action="/logout" method="POST">
	 			<input type="submit" value="logout">
    		</form>

	 <% } else { %>

		<a href ='http://localhost:8080/register'>register</p>
		<a href ='http://localhost:8080/login'>login</p>

	<% } %>
