<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<div class="register">

  <div class="register-triangle"></div>  
  <h2 class="register-header">Register</h2>

  <form class="register-container" action="/register" method="POST">
    <p><input type="email" placeholder="Email" name="email"></p>
    <p><input type="password" placeholder="Password" name="password"></p>
    <p><input type="submit" value="Register"></p>
  </form>

</div>




<!-- <form action="/register" method="POST">
    <h2>E-mail:</h2>
    	<input type="email" name="email">
    <h2>Password:</h2>
    	<input type="password" name="password">
    	<button>Submit</button>
</form> -->

