<form action="/register" method="POST">
    <h2>E-mail:</h2>
    	<input type="email" name="email">
    <h2>Password:</h2>
    	<input type="password" name="password">
    	<button>Submit</button>
</form>