<!-- views/partials/header.ejs -->
<head>
  <title>Page Title</title>
</head>

<!DOCTYPE html>


<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h1> uwaterloo.ca/applied-health-sciences | uwaterloo.ca/ahs<h1>
    <h1> uwaterloo.ca/applied-health-sciences/fun-run | uwaterloo.ca/ahs/fun-run <h1>
    <a href="url"> link text </a>
</body>
</html>