	<body>
		<strong><a href ='http://localhost:8080/'>Tiny App!</a></strong>
	</body>


<form method="POST" action="/register">

    <label>EMAIL: </label>
    <input type="email" name="email" />

    <label>PASSWORD: </label>
    <input type="password" name="password" />

    <input type="submit" name="Login" value="Login"/>



</form>


