<body>
    <header>
        <% include partials/_header %>
    </header>
    
    <% for (key in urls) { %>
        <p><%= key %> === <%= urls[key].longURL %> 
            <form method="POST" action="/urls/<%= key %>/delete">
                <button>delete</button>
                <a href="/urls/<%= key %>">edit</a>
            </form> 
        </p>
    <% } %>

    <a href="/urls/new"><button> Get a new shortened URL here! </button></a>
</body>

