<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	<ul>
	<%- include ./partials/_header %>
    <% for (var key in urls) { %>
    <li><%= urls[key].longurl %> <a href="<%= key %> "> <%= key %> </a></li> 
    
	<% } %>
    
	</ul>
</body>
</html>