<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	 <%- include ./partials/_header %>
    <h1> uwaterloo.ca/applied-health-sciences | uwaterloo.ca/ahs<h1>
    <h1> uwaterloo.ca/applied-health-sciences/fun-run | uwaterloo.ca/ahs/fun-run <h1>
    <a href="url"> link text </a>
    <p><%= shortURL %><p>
</body>
</html>